Repository yungryce/portfolio: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-artifact.yml, azure-pipelines-infra.yml

azure-pipelines-artifact.yml:
  stages:
  - stage: Load_Infrastructure_Outputs
    displayName: Load Infrastructure Outputs
    jobs:
    - job: load_infra_outputs
      displayName: Load Infrastructure Outputs
      pool:
        vmImage: ubuntu-latest
      steps:
      - checkout: self
        fetchDepth: '1'
  ...

azure-pipelines-infra.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Validate_Infrastructure
    displayName: Validate Infrastructure
    jobs:
    - job: validate_bicep
      displayName: Validate Bicep Template
      steps:
      - checkout: self
        fetchDepth: '1'
      - task: AzureCLI@2
  ...

cleanup
  api/git_webhook.py
Due: azure-pipelines-artifact.yml

logging setup for log stream and AZURE_CLIENT_ID app setting
  api/host.json
  api/tests/test_cache_manager.py
  infra/main.bicep
Due: azure-pipelines-artifact.yml, azure-pipelines-infra.yml

infra setup
  infra-run.sh
  infra/outputs.env
Due: azure-pipelines-infra.yml

webhook update
  api/git_webhook.py
Due: azure-pipelines-artifact.yml

infra successful setup and deployment
  api/host.json
  infra-run.sh
  infra/main.bicep
  infra/outputs.env
Due: azure-pipelines-artifact.yml, azure-pipelines-infra.yml

infra successful setup and deployment
  api/git_webhook.py
  api/host.json
Due: azure-pipelines-artifact.yml

infra successful setup and deployment
  api/requirements.txt
Due: azure-pipelines-artifact.yml

Migration documentation: Canary to Early adoption
  .github/copilot-instructions.md
  .github/instructions.md
  .github/project/AI-AGENT-GUIDE.md
  .github/project/CACHE-CONTRACT.md
  .github/project/FILES-SUMMARY.md
  .github/project/GITHUB-PROJECT-STRUCTURE.md
  .github/project/INDEX.md
  .github/project/MIGRATION-PLAN.md
  .github/project/MULTI-TENANT-DESIGN.md
  .github/project/README.md
  .github/project/SAMPLE-ISSUES.md
  .github/project/instruction.md
Due: none

migration plan
  .github/archive/project-phase1/AI-AGENT-GUIDE.md
  .github/archive/project-phase1/CACHE-CONTRACT.md
  .github/archive/project-phase1/FILES-SUMMARY.md
  .github/archive/project-phase1/GITHUB-PROJECT-STRUCTURE.md
  .github/archive/project-phase1/INDEX.md
  .github/archive/project-phase1/MIGRATION-PLAN.md
  .github/archive/project-phase1/MULTI-TENANT-DESIGN.md
  .github/archive/project-phase1/README.md
  .github/archive/project-phase1/SAMPLE-ISSUES.md
  .github/archive/project-phase1/instruction.md
  .github/copilot-instructions.md
  .github/plans/CONCERN-VALIDATION.md
  .github/plans/QUEUE-ARCHITECTURE-PLAN.md
  .github/plans/QUEUE-MIGRATION-BACKLOG.md
  .github/plans/README.md
  .github/plans/ROLLBACK-PLAYBOOK.md
  .github/plans/VISUAL-COMPARISON.md
Due: none

chore: finalize project structure
  .github/project/GITHUB-PROJECT-STRUCTURE.md
Due: none

initial commit
  .editorconfig
  .gitignore
  .postcssrc.json
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/mcp.json
  .vscode/tasks.json
  README.md
  angular.json
  package-lock.json
  package.json
  public/favicon.ico
  src/app/app.config.ts
  src/app/app.css
  src/app/app.html
  src/app/app.routes.ts
  src/app/app.spec.ts
  src/app/app.ts
  src/index.html
  src/main.ts
  src/styles.css
  tsconfig.app.json
  tsconfig.json
  tsconfig.spec.json
Due: azure-pipelines-artifact.yml

build: landing
  src/app/app.css
  src/app/app.html
  src/app/app.routes.ts
  src/app/app.ts
  src/app/home/home.component.css
  src/app/home/home.component.html
  src/app/home/home.component.spec.ts
  src/app/home/home.component.ts
  src/index.html
  src/styles.css
Due: azure-pipelines-artifact.yml

feat: navbar and environment setup
  angular.json
  package-lock.json
  src/app/app.component.css
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.html
  src/app/app.spec.ts
  src/app/home/home.component.html
  src/app/service/config.spec.ts
  src/app/service/config.ts
  src/environments/environment.development.ts
  src/environments/environment.ts
  src/main.ts
Due: azure-pipelines-artifact.yml

ci: add Azure Static Web Apps workflow file on-behalf-of: @Azure opensource@microsoft.com
  .github/workflows/azure-static-web-apps-jolly-beach-0a30cdb1e.yml
Due: none

connect to foliohive
  src/app/app.component.html
Due: azure-pipelines-artifact.yml

actions build fail, dist
  .github/workflows/azure-static-web-apps-jolly-beach-0a30cdb1e.yml
Due: none

redirect live
  src/app/app.component.html
  src/app/app.component.ts
  src/app/service/config.spec.ts
  src/app/service/config.ts
  src/environments/environment.development.ts
  src/environments/environment.ts
Due: azure-pipelines-artifact.yml

cleanup
  src/app/app.component.ts
Due: azure-pipelines-artifact.yml

Path conditions:
  azure-pipelines-artifact.yml: any of: api, src, angular.json, package.json, package-lock.json, tsconfig.json, staticwebapp.config.json, but not: infra, azure-pipelines-infra.yml, README.md, docs
  azure-pipelines-infra.yml: any of: infra, azure-pipelines-infra.yml
